@model IEnumerable<Dubai_Visa_Project.Models.ApplicationView>

@{
    ViewBag.Title = "ClientProcessing";
    Layout = "~/Views/Shared/_Layout_AdminPanel.cshtml";
}
<div class="table-agile-info" style="background-color:transparent">
    <div class="table-agile-info" style="background-color:transparent">
        <br />
        <div class="table-agile-info">

            <div class="table-agile-info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Client Processing
                    </div>
                    <div class="row w3-res-tb">
                        <div class="col-sm-5 m-b-xs">
                            @using (Html.BeginForm("SearchClientProcessing", "Admin", FormMethod.Get))
                            {
                                <input class="btn" type="submit" value="All View" />
                            }
                            @using (Html.BeginForm("SearchClientProcessing", "Admin", FormMethod.Get))
                            {
                                <b>Search By:</b>

                                @Html.RadioButton("name", "cid")<text>Client ID</text>
                                @Html.RadioButton("name", "nid")<text>Nationality</text>
                                <br />
                                @Html.TextBox("searchdata", null, new { @class = "input-sm form-control", placeholder = "Search by", style = "width:200px" })
                                <br />
                                <input class="btn" type="submit" value="Search" />
                            }

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Client_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Last_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Country_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Resident)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateOfBirth)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PlaceOfBirth)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Profession)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Start_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.End_Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Entry_Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ST)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Passport_No)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Passport_Issue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Passport_Expiry)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Comment)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayName("Update")
                                </th>
                             
                                <th></th>
                            </tr>
@if (ViewBag.go == "3")
{
    <tr>
        <td colspan="9">
            KINDLY CHOICE YOUR SELECTION CRITREA
        </td>
    </tr>
}
else if (Model.Count() == 0)
{
    <tr>
        <td colspan="9">
            NO DATA FOUND YOU ARE SEARCHING FOR.
        </td>
    </tr>
}
else
{
    foreach (var item in Model)
    {
                                <tr>
                                    <td>
                                        <button class="btn" onclick="location.href='@Url.Action("GetClientDetails", "Admin",new { id = item.Client_ID })'">DV @Html.DisplayFor(modelItem => item.Client_ID)</button>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.First_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Last_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Country_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Resident)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Profession)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Start_Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.End_Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Entry_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ST)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Passport_No)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Passport_Issue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Passport_Expiry)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                  
                                    <td>
                                     
                                            <button class="btn" onclick="location.href='@Url.Action("CompletedWithoutall", "Admin", new { id = item.Client_ID })'">Completed</button>
                                                    <button class="btn" onclick="location.href='@Url.Action("RejectedWithoutall", "Admin", new { id = item.Client_ID })'">Rejected</button>
                                    
                                    </td>
                                 
                                </tr>
    }
}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>